
{% macro FORM_SELECTED_DROP_DOWN(infos, name, id) %}
    <select class="form-control" name="{{ name }}" id="{{ id }}">
        {% for key,value in infos %}
            <option value="{{ key }}"> {{ value }}</option>
        {% endfor %}
    </select>
{% endmacro %}


{% macro SWITCH_TYPE_VALUES(TYPE_VALUES, value) %}
    {{ TYPE_VALUES[value] }}
{% endmacro %}

{% macro SWITCH_PLATFORM_VALUES(PLATFORM_VALUES, value) %}
    {{ PLATFORM_VALUES[value] }}
{% endmacro %}

